.appBlock {
  text-align: center;
  background: linear-gradient(300deg, #d97171, #000000);
  position: relative;
  overflow: hidden;
  padding: 5%;
}

.appBlock::before {
  content: "";
  position: relative;
  width: 10px;
  height: 10px;
  background-color: #180450; 
  border-radius: 50%;
}

.appBlock::after {
  animation: scatterCubes 20s infinite;
}

.form {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 4%; /* Reduce padding */
  border-radius: 20px;
  margin-top: 20px; /* Adjusted margin */
  display: flex; /* Add flex display */
}

.chatbox{
  background: linear-gradient(-300deg, #d97171, #582727);
  padding: 20px;
  border-radius: 20px;
  margin-left: 20px; 
  overflow-y: auto;
  flex: 1; 
}


.fileInput {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(193, 167, 167);
  padding: 8px; /* Reduce padding */
  margin: 3%;
  border: none;
  border-radius: 8px;
  width: 15%; /* Set width to 20% */
  height: 120px;
  text-align: center;
  vertical-align: middle;
}

.questionInput {
  background-color: rgba(30, 17, 17, 0.1);
  color: white;
  padding: 8px; /* Reduce padding */
  border: none;
  border-radius: 8px;
  margin-bottom: 10px; /* Reduce margin */
  width: 50%; /* Set width to 80% */
  flex: 1;
}

.submitBtn {
  background-color: #0a0210;
  color: white;
  padding: 8px 16px; /* Reduce padding */
  border-radius: 30%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #561b1b;
}

.questionContainer {
  width: 100%;
  position: absolute;  
  margin-top: 39.5%;
  margin-left: 1%;
}


.chatbox {
  display: flex;
  flex-direction: column;
  background: linear-gradient(-300deg, #d97171, #582727);
  width: 80%;
  height: 70vh;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  overflow-y: auto;
  position: relative; 
}

.userMessage {
  background-color: #ccaba2; /* User message background color */
  color: black;
  padding: 8px; /* Reduce padding */
  border-radius: 10px;
  margin-bottom: 10px;
  align-self: flex-end;
}

.botMessage {
  background-color: #f7cac8; /* Bot message background color */
  color: black;
  padding: 8px; /* Reduce padding */
  border-radius: 10px;
  margin-bottom: 10px;
  align-self: flex-start;
}

@media only screen and (max-width: 1000px) {
  .form {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 5%; /* Reduce padding */
    border-radius: 20px;
    margin-top: 20px; /* Adjusted margin */
    display: flex; /* Add flex display */
  }

  .questionContainer {
    width: 100%;
    position: absolute;  
    margin-top: 76.5%;
    margin-left: 1%;
  }
}